<section id="about-me" class="section section-padding about-me">
  <div class="container mt-6">
    <div class="box">
      <div class="columns">
        <div class="column">
          <h1 class="title">About me</h1>
          <p>Hi I'm <strong>Roberto Serrano Diaz-Grande</strong>. I am Full Stack Developer and Computer Technician and also expertise with
          JavaScript Vanilla, Nodejs, HTML, CSS, Angular, MongoDB and MySQL. I love Web developing and computer science.</p>
          <br>
          <p>My OS favorite is GNU/Linux, i love free software and community around the open source projects. I like video games and playing whit my friends.
            My GNU/Linux distribution favorite is Ubuntu, i love Ubuntu and bash shell. 
          </p>
        </div>
        <div class="column">
          <h2 class="title">Basic Information</h2>
          <div class="columns">
            <div class="column is-one-third">
              <strong class="is-uppercase">name:</strong>
            </div>
            <div class="column">
              Roberto Serrano Diaz-Grande
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-third">
              <strong class="is-uppercase">Date of Birth:</strong>
            </div>
            <div class="column">
              12/10/1983
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-third">
              <strong class="is-uppercase">Phone:</strong>
            </div>
            <div class="column">
              +34 123456789
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-third">
              <strong class="is-uppercase">Address:</strong>
            </div>
            <div class="column">
              Carrer Sant Joan 1, 2, 1,
              43006 Tarragona, Spain
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-third">
              <strong class="is-uppercase">Language:</strong>
            </div>
            <div class="column">
              Spanish, English
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
