<section class="hero is-link is-fullheight">

  <div class="hero-head">
    <top-navbar></top-navbar>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="image mb-5" [ngStyle]="{'margin': '0 auto', 'width': '256px'}">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
      </figure>
      <p class="subtitle">
        {{ subtitle }}
      </p>
      <p class="title">
        {{ title }}
      </p>
    </div>
  </div>

</section>
