<section class="hero is-dark is-fullheight">

  <div class="hero-head">
    <top-navbar></top-navbar>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="image mb-5" [ngStyle]="{'margin': '0 auto', 'width': '200px'}">
        <img class="is-rounded" src="assets/img/roberto-serrano.jpg">
      </figure>
      <p class="subtitle is-size-3">
        {{ subtitle }}
      </p>
      <p class="title is-size-2">
        {{ title }}
      </p>
      <p class="is-size-4">I' am developer, full stack developer</p>
      <button class="button is-primary is-light mt-5">Más sobre mi</button>
    </div>
  </div>

</section>
