<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <span class="icon mr-2">
          <fa-icon [icon]="faAngular" size="lg"></fa-icon>
        </span>
        <strong>{{ brandName }}</strong>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="" class="navbar-item">HOME</a>
        <a href="" class="navbar-item">SOBRE MI</a>
        <a href="" class="navbar-item">PORTFOLIO</a>
        <a href="" class="navbar-item">CONTACTO</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="" class="has-text-info">
            <span class="icon mx-2">
              <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
            </span>
          </a>
          <a href="" class="has-text-link">
            <span class="icon mx-2">
              <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
            </span>
          </a>
          <a href="" class="has-text-light">
            <span class="icon mx-2">
              <fa-icon [icon]="faGithub" size="lg"></fa-icon>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>